.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(32px);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Container {
  display: flex;
  justify-content: space-evenly;
  min-width: 100%;
  align-items: center;
}

.Section {
  flex: auto;
  padding: 20px;
  width: 50%;
}

.highlighted {
  display: flex;
  flex-direction: column;
  line-height: 30px;
}

.english {
  font-size: calc(18px);
}

@media (max-width: 960px) {
  .Container {
    flex-direction: column-reverse;
  }
  .Section {
    width: 100%;
    padding: 20px 0px;
  }
}

.Inputs {
  display: flex;
  justify-content: center;
}

.TextField.TextField {
  margin-right: 10px;
  width: 50%;
}

.Vowel-true {
  color: lightcoral;
}

.Vowel-false {
  color: lightgreen;
}

.Button.Button {
  margin-right: 10px;
}
